<div class="container mt-4">  

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render "shared/errors", obj: @article %>
      <%= form_with(model: @article, class: "shadow mb-3 p-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
            <%= f.label :title, class: "col-2 col-form-label text-light" %>          
            <%= f.text_field :title, class: "col-9 form-control shadow rounded", placeholder: "Title of article" %>          
        </div>

        <div class="form-group row">          
            <%= f.label :description, class: "col-2 col-form-label text-light" %>          
            <%= f.text_area :description, rows: 7, class: "col-9 form-control shadow rounded", placeholder: "Description of article" %>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
        
    </div>
      <% end %>
    
      <%= link_to "[ Cancel and return to articles listing ]", articles_path(@article), class: "text-info" %>
  
  </div>
</div>
