<h1 class="text-center my-4">Articles listing page</h1>

<div class="flickr_pagination mb-2">  
  <%= will_paginate @articles, :container => false %>
</div>

<%= render "article" %>

<div class="flickr_pagination my-2">  
  <%= will_paginate @articles, :container => false %>
</div>

