<h1 class="text-center mt-4">Article's detail</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic font-weight-bold">
          By <%= @article.user.username %>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        </div>
        <div class="card-body">          
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>          
          <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-warning" %>
          <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, Updated <%= time_ago_in_words(@article.updated_at) %> ago</small>>
        </div>
      </div>
    </div>    
  <div>
</div>