<div class="container mt-4">  

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render "shared/errors", obj: @user %>
      <%= form_with(model: @user, class: "shadow mb-3 p-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
            <%= f.label :username, class: "col-2 col-form-label text-light" %>          
            <%= f.text_field :username, class: "col-9 form-control shadow rounded", placeholder: "Enter a username" %>          
        </div>

        <div class="form-group row">          
            <%= f.label :email, class: "col-2 col-form-label text-light" %>          
            <%= f.email_field :email, class: "col-9 form-control shadow rounded", placeholder: "Enter your email address" %>
        </div>

        <div class="form-group row">          
            <%= f.label :password, class: "col-2 col-form-label text-light" %>          
            <%= f.password_field :password, class: "col-9 form-control shadow rounded", placeholder: "Choose a password" %>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit(@user.new_record? ? "Sign up" : "Update user", class: "btn btn-outline-light btn-lg") %>
        </div>
        
    </div>
      <% end %>
    
      <%= link_to "[ Cancel and return to articles listing ]", articles_path(@article), class: "text-info" %>
  
  </div>
</div>
