<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="flickr_pagination mb-2">  
  <%= will_paginate @users, :container => false %>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <% @users.each do |user| %>
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic font-weight-bold">
            <%= link_to user.username, user %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to gravatar_for(user, size: 150), user %>
            </h5>
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to "Show profile", user, class: "btn btn-outline-success" %>
            <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-warning" %>            
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>>
          </div>
        </div>
      </div>
    <% end %>
  <div>
</div>

<div class="flickr_pagination mb-2">  
  <%= will_paginate @users, :container => false %>
</div>