<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="flickr_pagination mb-2">  
  <%= will_paginate @articles, :container => false %>
</div>

<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>

<h3 class="text-center mt-4">Articles</h3>
<%= render "articles/article" %>

<div class="flickr_pagination mb-2">  
  <%= will_paginate @articles, :container => false %>
</div>
