
<div class="container my-5">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4 text-center">Alpha Blog</h1>
    <p class="lead">Just blogging!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
